<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="WEARWELL- ADMIN PANEL.">

    <title>WEARWELL - ADMIN PANEL.</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap"
        rel="stylesheet">

    <link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet" />

    <!-- Ekka CSS -->
    <link id="ekka-css" rel="stylesheet" href="/stylesheets/ekka.css" />

    <!-- FAVICON -->
    <link href="/assets/img/favicon.png" rel="shortcut icon" />
</head>

<body>
    <!-- WRAPPER -->
    <div class="wrapper">
    
        <!-- LEFT MAIN SIDEBAR -->
        <%- include('partials/admin-sidebar.ejs') %>
    
            <!-- PAGE WRAPPER -->
            <div class="ec-page-wrapper">
    
                <!-- Header -->
                <%- include('partials/admin-header.ejs') %>

                <!-- content wrapper -->
                <div class="ec-content-wrapper">
                    <div class="content ">
                        <div class="breadcrumb-wrapper breadcrumb-wrapper-2 breadcrumb-contacts">
                            <h1>Main Category</h1>
                            <p class="breadcrumbs"><span><a href="/admin/index">Home</a></span>
                                <span><i class="mdi mdi-chevron-right"></i></span>Add Banner
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-8 ">
                                <div class="ec-cat-list card card-default mb-24px">
                                    <div class="card-body">
                                        <div class="ec-cat-form">
                                            <h4>Add New Banner</h4>
                
                                            <form action="/admin/add-category" method="post" enctype="multipart/form-data">
                
                                                <div class="form-group row">
                                                    <label for="text" class="col-12 col-form-label">Description</label>
                                                    <div class="col-12">
                                                        <input id="text" name="description" rows="3" class="form-control here slug-title" type="text"
                                                            required>
                                                    </div>
                                                </div>
                
                                                <div class="avatar-edit">
                                                    <input type='file' id="imageUpload" class="ec-image-upload" name="thumbnail" />
                                                    <label for="imageUpload"><img src="/assets/img/icons/edit.svg" required
                                                            class="svg_img header_svg" alt="edit" /></label>
                                                </div>
                                                <% if(adminMessage){ %>
                                                    <p style="color:red">
                                                        <% {adminMessage} %> !
                                                    </p>
                                                    <% } %>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <button name="submit" type="submit"
                                                                    class="btn btn-primary">Submit</button>
                                                            </div>
                                                        </div>
                
                                            </form>
                
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                
                        </div>

    <!-- Javascript -->
    <script src="/assets/plugins/jquery/jquery-3.5.1.min.js"></script>
    <script src="/assets/plugins/jquery/jquery.notify.min.js"></script>
    <script src="/assets/plugins/jquery/jquery.bundle.notify.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/plugins/jquery-zoom/jquery.zoom.min.js"></script>
    <script src="/assets/plugins/slick/slick.min.js"></script>

    <!-- Ekka Custom -->
    <script src="/assets/js/ekka.js"></script>
</body>

</html>