<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="WEARWELL 404 error">

	<title>WEARWELL 404 error</title>

	<!-- FAVICON -->
	<link href="/assets/img/favicon.png" rel="shortcut icon" />

	<!-- GOOGLE FONTS -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

	<link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet" />

	<!-- PLUGINS CSS STYLE -->
	<link href="/assets/plugins/simplebar/simplebar.css" rel="stylesheet" />

	<link href='/assets/plugins/flag-icons/css/flag-icon.min.css' rel='stylesheet'>

	<!-- Ekka CSS -->
	<link id="ekka-css" href="/assets/css/ekka.css" rel="stylesheet" />
	<link rel="stylesheet" href="/Stylesheets/404.css"/>

</head>

<body >
	<!-- WRAPPER -->
				

			<!-- CONTENT WRAPPER -->
			
			<!-- <div class="error-area">
				<div class="content-area">
					<div class="container d-flex">
						<div class="error-404 justify-content-center">
							<div class="section-inner">
								<div class="error-img">
									<img src="/images/error/404-1.png" alt="error-img">
								</div>
								<div class="title">
									<h2 class="sub-title">Page not found</h2>
									<h3 class="sect-title">Sorry, we couldn't find the page you where looking for. We suggest <br>
										that you return to homepage.</h3>
								</div>
								<div class="section-button">
									<a href="/"><i class="fal fa-long-arrow-left"></i> Go To Homepage</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->
			<div class="content">
<svg viewBox="0 0 960 300">
	<symbol id="s-text">
		<text text-anchor="middle" x="50%" y="50%">404</text>
	</symbol>

	<g class = "g-ants">
		<use xlink:href="#s-text" class="text"></use>
		<use xlink:href="#s-text" class="text"></use>
		<use xlink:href="#s-text" class="text"></use>
		<use xlink:href="#s-text" class="text"></use>
		<use xlink:href="#s-text" class="text"></use>
	</g>
</svg>
     
    <h1>Page Not Found</h1>
    <a href="/">Back to Home</a>
    </div>


	<!-- Common Javascript -->
	<script src="/assets/plugins/jquery/jquery-3.5.1.min.js"></script>
	<script src="/assets/plugins/jquery/jquery.notify.min.js"></script>
	<script src="/assets/plugins/jquery/jquery.bundle.notify.min.js"></script>
	<script src="/assets/js/bootstrap.bundle.min.js"></script>
	<script src="/assets/plugins/simplebar/simplebar.min.js"></script>
	<script src="/assets/plugins/jquery-zoom/jquery.zoom.min.js"></script>
	<script src="/assets/plugins/slick/slick.min.js"></script>

	<!-- Option Switcher -->
	<script src="/assets/plugins/options-sidebar/optionswitcher.js"></script>

	<!-- Ekka Custom -->
	<script src="/assets/js/ekka.js"></script>
</body>

</html>